<template>
  <v-card height="100%" class="pa-5" elevation="2" outlined>
    <h3>{{ data[selector] }}</h3>
    <p class="card-overview">{{ data.overview }}</p>
  </v-card>
</template>

<script>
export default {
  name: "FeatureMovie",
  props: ["data"],
  data() {
    return {
      selector: "name",
    };
  },
  beforeMount() {
    this.checkObject();
  },
  beforeUpdate() {
    this.checkObject();
  },
  methods: {
    checkObject() {
      if ("title" in this.data) {
        this.selector = "title";
      } else {
        this.selector = "name";
      }
    },
  },
};
</script>
