<template>
  <v-container fluid>
    <v-row class="search">
      <v-col cols="6" offset="3">
        <SearchBar
          :searchFunc="searchMovie"
          :filterFunc="filterSearch"
          :clearFunc="resetSearch"
        />
      </v-col>
    </v-row>
    <v-row class="grid">
      <v-container fluid>
        <v-row v-if="movieFilteredList.length > 0">
          <v-col cols="12"> 
            <p>Result Found ({{ movieFilteredList.length }}) {{filterComponent.toUpperCase()}}'S</p>
          </v-col>
          <v-col v-for="(movie, i) in movieFilteredList" :key="i" lg="3" md="4" sm="6" xs="12" @click="showDetails(movie)" class="card-container">
            <feature-movie  :data="movie"/>
          </v-col>
          <v-col cols="6" offset="3" v-if="pageLength > 1">
            <v-pagination
              v-model="page"
              :length="pageLength"
              @input="paginate()"
            ></v-pagination>
          </v-col>
        </v-row>
        <v-row v-else>
          <v-col v-if="loading">
            <v-progress-circular
              :size="70"
              :width="7"
              color="purple"
              indeterminate
            ></v-progress-circular>
          </v-col>
          <v-col v-else>
            <p>
              <span class="font-italic font-weight-bold">{{
                this.searchText
              }}</span>
              not found
            </p>
          </v-col>
        </v-row>
      </v-container>
    </v-row>

    <v-dialog v-model="dialogStatus" width="500">
      <ModalCard :closeFunc="toggleModal" :movieDetail="selectedMovie" :type="filterOption" />
    </v-dialog>
  </v-container>
</template>

<script>
import axios from "axios";
import ModalCard from "./ModalCard";
import SearchBar from "./SearchBar";
import FeatureMovie from './GridComponents/FeatureMovie.vue';
import API_KEY from '../env'
export default {
  name: "GridView",
  components: { ModalCard, SearchBar,FeatureMovie },
  data() {
    return {
      filterOption: "movie",
      filterComponent: "movie",
      queryResponse: [],
      dialogStatus: false,
      selectedMovie: {},
      searchText: "",
      page: 1,
      pageLength: 0,
      start: 0,
      end: 20,
      prevPageNum: 1,
      loading: false,
    };
  },
  computed: {
    movieFilteredList() {
      return this.queryResponse;
    },
  },
  beforeMount() {
    this.resetSearch();
  },
  methods: {
    //show movie
    showDetails(movie) {
      this.selectedMovie = movie;
      this.toggleModal();
    },
    toggleModal() {
      this.dialogStatus = !this.dialogStatus;
    },

    //search movie
    searchMovie(text) {
      this.searchText = text;
      this.getSearchResult();
    },
    filterSearch(option) {
      this.filterOption = option;
      if (this.searchText !== "") {
        this.getSearchResult();
      }
    },
    async getSearchResult() {
      this.loading = true;
      await axios
        .get(
          `https://api.themoviedb.org/3/search/${this.filterOption}?page=${this.page}&api_key=${API_KEY}&query=${this.searchText}`
        )
        .then((res) => {
          this.queryResponse = [];
          this.filterComponent = this.filterOption;
          this.queryResponse = res.data.results;
          this.pageLength = res.data.total_pages;
          this.loading = false;
        });
    },
    async resetSearch() {
      this.queryResponse = [];
      this.searchText = "";
      this.loading = true;

      await axios
        .get(
          `https://api.themoviedb.org/4/list/7096014?page=1&api_key=${API_KEY}`
        )
        .then((res) => {
          this.queryResponse = res.data.results;
        });
    },

    //pagination
    nextPage() {
      this.prevPageNum = this.page;
      this.start = this.start + this.end;
      this.end = this.end + 20;
      this.getSearchResult();
    },
    prevPage() {
      this.prevPageNum = this.page;
      this.end = this.end - 20;
      this.start = this.end - this.start;
      this.getSearchResult();
    },
    paginate() {
      if (this.page > this.prevPageNum) {
        this.nextPage();
      } else if (this.page < this.prevPageNum) {
        this.prevPage();
      }
    },
  },
};
</script>

<style>
.card-overview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-container {
  cursor: pointer;
}
</style>
