<template>
  <v-card>
    <v-card-title class="headline grey lighten-2">
      {{ movieDetail[selector] }}
    </v-card-title>

    <v-card-text>
      {{ movieDetail.overview }}
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" text @click="closeFunc()"> Close </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "ModalCard",
  props: ['movieDetail', 'closeFunc', 'type'],
  data() {
    return{
      selector: 'name',
    }
  },
  beforeMount() {
    if(this.type === 'movie'){
      this.selector = 'title';
    }
  }
};
</script>

<style>
</style>
