<template>
  <v-container>
    <v-row>
      <v-col cols="11">
        <v-text-field
          placeholder="Search for movies"
          outlined
          v-model="searchText"
          append-icon="mdi-close"
          @click:append="clear()"
          @keyup.enter="searchFunc(searchText)"
          hide-details
        ></v-text-field>
      </v-col>
      <v-col cols="1" class="d-flex align-center">
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
               v-bind="attrs" v-on="on"
              color="primary"
            >
              <v-icon>mdi-filter-variant</v-icon>
            </v-btn>
          </template>
          <v-card class="px-2">
            <v-radio-group
              v-model="searchFilter"
              @change="filterFunc(searchFilter)"
            >
              <v-radio
                v-for="(option, i) in filterOption"
                :key="i"
                :label="option.name"
                :value="option.value"
              ></v-radio>
            </v-radio-group>
          </v-card>
        </v-menu>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "SearchBar",
  props: ["searchFunc", "filterFunc", 'clearFunc'],
  data() {
    return {
      searchFilter: "movie",
      filterOption: [
        {
          name: "Movie",
          value: "movie",
        },
        {
          name: "People",
          value: "person",
        },
        {
          name: "Tv Shows",
          value: "tv",
        },
      ],
      searchText: "",
    };
  },
  methods: {
    clear() {
      this.searchFilter = "movie";
      this.searchText = "";
      this.clearFunc()
    }
  }
};
</script>

<style>
</style>
