<template>
  <v-app id="app">
    <GridView />
  </v-app>
</template>

<script>

import GridView from './components/GridView';

export default {
  name: 'App',
  components: {
    GridView
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
